@tailwind base;
@tailwind components;
@tailwind utilities;

/* Do Remove this when ypu use next-themes */
body {
	background-color: #0d0d0d;
	color: #848484;
}

.code-title {
	border-top-left-radius: 0.5rem;
	border-top-right-radius: 0.5rem;
	border: 2px solid rgba(249, 249, 249, 0.08);
	box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
}

.ace-editor-container {
	width: 100% !important;
}

.ace_scrollbar {
	display: none !important;
}

.ace_editor {
	background-color: rgba(0, 0, 0, 0.5);
	border-bottom-left-radius: 0.5rem;
	border-bottom-right-radius: 0.5rem;
	box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.2);
	border: 2px solid rgba(249, 249, 249, 0.08);
	border-top: none;
	font-weight: 500 !important;
	font-size: 17px !important;
	line-height: 1.5rem !important;
}
